{% extends 'todo/base.html' %} <!-- подключение шаблона-->

{% block content %}
{{ todo.title }}
{{ error }}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Редактировать</button>
</form>

<form method="POST" action="{% url 'completetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Выполнить</button>
</form>
<form method="POST" action="{% url 'deletetodo' todo.id %}">
    {% csrf_token %}
    <button type="submit">Удалить</button>
</form>
{% endblock %}